# Mutt colors configuration
#
# Partially inspired by Steve Losh's mutt screenshots:
# http://stevelosh.com/blog/2012/10/the-homely-mutt/
# Steve Losh's mutt settings are in: https://bitbucket.org/sjl/dotfiles/
#
# Many of these colors are from smkent.vim's preferred color palette

# Basic colors
color attachment color111 color234  # Attachment indicators
color hdrdefault color247 color234  # Default color for headers
color indicator  color0   color159  # Selected message or menu item
color markers    color167 color234  # Line continuation markers ("+")
color normal     color255 color234  # Normal text not matching any other pattern
color signature  color247 color234  # Text beneath the signature line
color status     color117 color236  # Mode lines and sidebar separator
color tilde      color243 color234  # Tilde lines used to show pager blank lines
color tree       color243 color234  # Thread tree indicator

# Quoted message levels
color quoted  color112 color234
color quoted1 color221 color234
color quoted2 color112 color234
color quoted3 color221 color234
color quoted4 color112 color234
color quoted5 color221 color234
color quoted6 color112 color234
color quoted7 color221 color234
color quoted8 color112 color234
color quoted9 color221 color234

# Message index colors
# Default message color
color index color250       color234 ~A
# Dim messages from me
color index color242       color234 "!~N ~P"
# New messages
color index brightcolor221 color234 "~N ^~p !(~c .)"
color index brightcolor255 color234 "~N !(^~p !(~c .))"
# Messages addressed only to me
# PGP signed messages
color index color116       color234 "~g !~G !~N"
# PGP encrypted messages
color index color74        color234 "~G !~N"
color index brightcolor159 color234 "~G ~N"
# Messages marked for deletion
color index color124       color234 ~D

# Highlight message Subject header
color header brightcolor215 color234 "^(Subject):"

# URLs
color body color192 color234 "(https?|ftp|news|telnet|finger)://[^ \"\t\r\n]*"
color body color192 color234 "mailto:[-a-z_0-9.]+@[-a-z_0-9.]+"
mono body none "(https?|ftp|news|telnet|finger)://[^ \"\t\r\n]*"
mono body none "mailto:[-a-z_0-9.]+@[-a-z_0-9.]+"

# Email addresses
color body color192 color234 "[-a-z_0-9.%$]+@[-a-z_0-9.]+\\.[-a-z][-a-z]+"
mono body none "[-a-z_0-9.%$]+@[-a-z_0-9.]+\\.[-a-z][-a-z]+"

# PGP information
# Patterns from:
# http://cinderwick.ca/files/linux/configs/myDeskSnapshots/200912-molokai/mutt/colors.molokai
color body color112 color234     "^gpg: Good signature from"
color body brightred color234    "^gpg: Bad signature from"
color body brightred color234    "^gpg: BAD signature from"
color body brightred color234    "^gpg: Note: This key has expired!"
color body brightyellow color234 "^gpg: WARNING: This key is not certified with a trusted signature!"
color body brightyellow color234 "^gpg: *There is no indication that the signature belongs to the owner."
color body brightyellow color234 "^gpg: can't handle these multiple signatures"
color body brightyellow color234 "^gpg: signature verification suppressed"
color body brightyellow color234 "^gpg: invalid node with packet of type"

# vim: ft=muttrc
