# Ignore everything except specific files and subdirectories
# This uses the method described here: http://stackoverflow.com/a/1248601
# which is based on information from here: https://gist.github.com/444295
/*
!.gitconfig
!.gitignore
!.screenrc
!.tmux.conf
!.vimrc
.vim/.netrwhist
!.vim/
