[user]
    name = Stephen Kent
    email = smkent@smkent.net
[core]
    editor = vim
    pager = less -F -R -X -x1,5
    excludesfile = ~/.gitignore.global
[color]
    ui = true
[push]
    default = upstream
[branch]
    autosetuprebase = always
[color "branch"]
    remote = 9      # Lighter red
    upstream = blue bold
[color "diff"]
    frag = blue bold
    func = magenta bold
[color "grep"]
    context = white dim
    filename = magenta
    function = yellow
    linenumber = green
    match = red bold
    separator = blue
[color "status"]
    added = green
    branch = white bold ul
    changed = 9     # Bright red
    unmerged = 11   # Bright yellow
    untracked = 32  # Brighter blue
[merge]
    conflictstyle = diff3
[log]
    date = local
[advice]
    statusHints = false
[diff]
    mnemonicprefix = true
    renames = copies
