# Ignore everything except specific files and subdirectories
# This uses the method described here: http://stackoverflow.com/a/1248601
# which is based on information from here: https://gist.github.com/444295
/*
!.bash_aliases
!.bash_logout
!.bash_profile
!.bashrc
!.config/
.config/*
!.config/google-chrome/
.config/google-chrome/*
!.config/google-chrome/NativeMessagingHosts/
.config/google-chrome/NativeMessagingHosts/*
!.config/google-chrome/NativeMessagingHosts/gpgmejson.json
!.ctags
!.dircolors
!.dotfiles/
.dotfiles/.data/
!.face
!.gimp-2.8/
.gimp-2.8/*
!.gimp-2.8/fonts.conf
!.gimp-2.8/scripts
!.gitconfig
!.gitignore
!.gitignore.global
!.gnupg/
.gnupg/*
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
!.gnupg/dirmngr.conf
!.gnupg/sks-keyservers.netCA.pem
!.mailcap
!.local/
.local/*
!.local/bashrc
!.local/bash_aliases
!.mutt/
.mutt/certificates
.mutt/cache
.mutt/accounts
!.muttrc
!.mozilla/
.mozilla/*
!.mozilla/native-messaging-hosts/
.mozilla/native-messaging-hosts/*
!.mozilla/native-messaging-hosts/gpgmejson.json
!.screenrc
!.tmux.conf
!.vimrc
.vim/.netrwhist
.vim/plugged/
!.vim/
!.zshrc
!.zsnes/
.zsnes/*
!.zsnes/zinput.cfg
!README.md
