repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-merge-conflict
  - id: end-of-file-fixer
  - id: debug-statements
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--preserve-quotes, --autofix, --indent, '2', --line-width, '79']
- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.11.0
  hooks:
  - id: shellcheck
    args: ["-e", "SC1090"]
    exclude: '^\.zshrc'
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff
    args: ["--fix"]
  - id: ruff-format
